@mixin body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

@mixin board {
  width: 400px;
  height: 400px;
  border: 10px solid darkgray;
  background-color: lightgray;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__tile {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--clicked {
      background-color: darkgrey;
    }

    &--blue {
      color: blue;
    }

    &--green {
      color: green;
    }

    &--red {
      color: red;
    }

    &--navy {
      color: navy;
    }

    &--brown {
      color: brown;
    }

    &--teal {
      color: teal;
    }

    &--black {
      color: black;
    }

    &--gray {
      color: gray;
    }
  }
}

@mixin flag-button {
  width: 100px;
  height: 50px;
  font-size: 30px;
  background-color: lightgray;
  border: none;
}
